.button {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: $secondaryClr;
	padding: 10px 20px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	cursor: pointer;
	transition: 0.5s ease-in-out all;

	&::after {
		transition: background-color 0.2s ease;
		position: absolute;
		content: '';
		height: 4px;
		bottom: 0;
		width: 100%;
		background-color: darken($tertiaryClr, 50%);
		opacity: 0.18;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		left: 0;
	}

	&:focus,
	&:hover {
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		background-color: lighten($tertiaryClr, 5%);
		&::after {
			opacity: 0.22;
		}
	}

	&:active {
		background-color: darken($tertiaryClr, 5%);
		&::after {
			opacity: 0.32;
		}
	}
}

.scrollTopBtn {
	position: fixed;
	font-size: 18px;
	height: 30px;
	width: 30px;
	padding: 0;
	right: 0px;
	bottom: 10px;
	z-index: 5000;
	opacity: 0;
	transition: 0.5s ease all;
}
