.adopt {
	color: $bgClr;

	&__inner-wrap {
		@include wrapper(1200, 30);
		display: flex;
		flex-direction: column;
	}

	&__header {
		width: 100%;
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
		padding: 60px 0;
	}

	p {
		color: rgba($color: $bgClr, $alpha: 0.5);
	}

	&__title {
		font-weight: 900;
		text-transform: uppercase;
	}

	.page-header,
	.page {
		height: 0;
		visibility: hidden;
		opacity: 0;
	}

	.active {
		height: auto;
		visibility: visible;
		opacity: 1;
		transition: 1s all ease-in-out;
	}

	&__main-content {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		position: relative;
		overflow: hidden;

		@include breakpoint-max(600) {
			flex-wrap: wrap;
		}
	}

	&__content-switch {
		min-width: 260px;
		margin-right: 40px;
		position: sticky;
		top: 80px;
		z-index: 500;
		@include breakpoint-max(600) {
			margin-right: 0;
			width: 100%;
			.adopt__nav-list {
				display: flex;
				width: 100%;
			}
		}

		.button {
			width: 100%;
			margin-bottom: 10px;
			min-height: 40px;
			display: flex;
			padding: 0;
			align-items: center;

			a {
				@include fluid-typo(375px, 1920px, 10px, 14px);
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 40px;
			}
		}
	}

	&__list-item {
		@include breakpoint-max(600) {
			width: 50%;
		}
		&.active {
			.button {
				background-color: darken($tertiaryClr, 5%);
				&::after {
					opacity: 0.32;
				}
			}
		}
	}

	&__pages {
		max-width: 765px;
	}

	.page {
		&__title {
			font-weight: 900;
			margin-bottom: 15px;
		}

		&__text {
			margin-bottom: 40px;
		}

		&__boxes {
			display: grid;
			gap: 40px;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

			div:nth-of-type(3n + 1) {
				&::after {
					background-color: $primaryClr;
				}

				i {
					color: $primaryClr !important;
				}
			}

			div:nth-of-type(3n + 2) {
				&::after {
					background-color: $secondaryClr;
				}

				i {
					color: $secondaryClr;
				}
			}

			div:nth-of-type(3n + 3) {
				&::after {
					background-color: $tertiaryClr;
				}

				i {
					color: $tertiaryClr;
				}
			}
		}

		&__box {
			position: relative;
			background-color: rgba($color: $bgClr, $alpha: 0.1);
			margin-bottom: 40px;
			transition: 0.5s ease-in-out all;
			align-self: flex-end;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&::after {
				transition: background-color 0.2s ease;
				position: absolute;
				content: '';
				height: 4px;
				bottom: 0;
				width: 100%;
				left: 0;
			}

			&:hover {
				transform-origin: bottom;
				transform: scale(1.08);
				box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.6);
			}

			.expandMoreContent {
				max-height: 20px;
				overflow: hidden;
				transition: 0.5s ease-in-out all;
				position: relative;
			}

			.showMore {
				@include fluid-typo(375px, 1920px, 8px, 12px);
				padding: 6px 8px;
				text-transform: capitalize;
			}
		}

		&__box-top {
			height: 250px;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&__box-bottom {
			padding: 35px;
			height: 50%;
		}

		&__box-content {
			margin-bottom: 20px;
		}

		&__box-title {
			font-weight: 900;
			margin-bottom: 10px;
			line-height: 20px;
		}

		&__box-text {
			margin-bottom: 20px;
		}

		&__box-icons {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		&__box-icon {
			width: 28%;
			margin-right: 10px;
			margin-bottom: 20px;
			display: flex;
			justify-content: center;
			align-items: center;

			&--text {
				color: rgba($color: $bgClr, $alpha: 1);
				font-weight: 900;
				margin-left: 5px;
				@include fluid-typo(375px, 1920px, 10px, 14px);
			}
		}
	}
}
